.dits {
    float: left;
    padding: 5px;
    margin: 3px;

}
    
#projects {
    float: left;
    width: 220px;
    padding: 5px;
    
}
.me {
    float: left;
    width: 220px;
    padding: 5px;
}
.hobbies {
    float: left;
    width: 220px;
    padding: 5px;
}
@media screen and (min-width: 500px) and (max-width: 767px) {

}
@media screen and (min-width: 500px) {
  body {
background-image: url(https://images.unsplash.com/photo-1507400492013-162706c8c05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80); 
color: white;
background-repeat: no-repeat;
background-size: cover;
  }
  }

  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }

.mwa {
    float: left;
    padding: 5px;
    border: 2px blue;
    margin: 20px;
    background-color: blue;

}




