.dits {
    float: left;
    padding: 5px;
    margin: 3px;

}
    
#projects {
    float: left;
    width: 220px;
    padding: 5px;
    
}
.me {
    float: left;
    width: 220px;
    padding: 5px;
}
.hobbies {
    float: left;
    width: 220px;
    padding: 5px;
}
@media screen and (min-width: 500px) and (max-width: 767px) {

}
@media screen and (min-width: 500px) {
  body {
background-image: url(https://66.media.tumblr.com/979028664fd089b5543216b1c1a3dd9e/tumblr_pt66dmO8aJ1upcvga_1280.jpg); 
color: white;
background-repeat: no-repeat;
background-size: cover;
  }
  }

  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }

.mwa {
    float: left;
    padding: 5px;
    border: 2px blue;
    margin: 20px;
    background-color: blue;

}




