.dits {
    float: left;
    padding: 5px;
    margin: 3px;
    background-color: black;

}
    
#projects {
    float: left;
    width: 220px;
    padding: 5px;
    background-color: black;
    
}
.me {
    float: left;
    width: 220px;
    padding: 5px;
    background-color: black;
}
.hobbies {
    float: left;
    width: 220px;
    padding: 5px;
    background-color: black;
}
@media screen and (min-width: 500px) and (max-width: 767px) {

}
@media screen and (min-width: 500px) {
  body {
background-image: url(https://us.123rf.com/450wm/udaix/udaix1710/udaix171000119/87964904-star-field-background.jpg?ver=6); 
color: white;
background-repeat: no-repeat;
background-size: cover;
  }
  }

  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }

.mwa {
    float: left;
    padding: 5px;
    border: 2px blue;
    margin: 20px;
    background-color: blue;

}
emp{
  font-style: italic;
}





